<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Nobis eum velit 
                repellendus illo? Obcaecati odit consequatur, 
                aliquid dolores error dignissimos. 
                Praesentium cumque sapiente corrupti 
                nemo necessitatibus minus velit nam reiciendis.

            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Nobis eum velit 
                repellendus illo? Obcaecati odit consequatur, 
                aliquid dolores error dignissimos. 
                Praesentium cumque sapiente corrupti 
                nemo necessitatibus minus velit nam reiciendis.

            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Nobis eum velit 
                repellendus illo? Obcaecati odit consequatur, 
                aliquid dolores error dignissimos. 
                Praesentium cumque sapiente corrupti 
                nemo necessitatibus minus velit nam reiciendis.

            </p>
        </ul>

    </div>
</div>
